.icon-base {
    display: inline-block;

    background-color: currentColor;

    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}


.icon-profile {
    mask-image: url('icons/profile.svg');
    -webkit-mask-image: url('icons/profile.svg');

    width: 48px;
    height: 48px;
}


.icon-nav {
    mask-image: url('icons/navbtn.svg');
    -webkit-mask-image: url('icons/navbtn.svg');

    width: 32px;
    height: 32px;
}

.icon-search {
    mask-image: url('icons/search.svg');
    -webkit-mask-image: url('icons/search.svg');

    width: 14px;
    height: 14px;
}


.icon-fav {
    mask-image: url('icons/favorite.svg');
    -webkit-mask-image: url('icons/favorite.svg');

    width: 20px;
    height: 20px;
}

.icon-add {
    mask-image: url('icons/addbtn.svg');
    -webkit-mask-image: url('icons/addbtn.svg');

    width: 20px;
    height: 20px;
}

.icon-filter {
    mask-image: url('icons/filter.svg');
    -webkit-mask-image: url('icons/filter.svg');

    width: 24px;
    height: 24px;
}

.icon-arrow {
    mask-image: url('icons/arrow.svg');
    -webkit-mask-image: url('icons/arrow.svg');

    width: 24px;
    height: 24px;
}

.icon-history {
    mask-image: url('icons/history.svg');
    -webkit-mask-image: url('icons/history.svg');

    width: 24px;
    height: 24px;
}

.icon-home {
    mask-image: url('icons/home.svg');
    -webkit-mask-image: url('icons/home.svg');

    width: 24px;
    height: 24px;
}

.icon-logout {
    mask-image: url('icons/log-out_active.svg');
    -webkit-mask-image: url('icons/log-out_active.svg');

    width: 24px;
    height: 24px;
}

.icon-settings {
    mask-image: url('icons/settings_active.svg');
    -webkit-mask-image: url('icons/settings_active.svg');

    width: 24px;
    height: 24px;
}

.icon-shop {
    mask-image: url('icons/shop.svg');
    -webkit-mask-image: url('icons/shop.svg');

    width: 24px;
    height: 24px;
}

.icon-wallet {
    mask-image: url('icons/wallet.svg');
    -webkit-mask-image: url('icons/wallet.svg');

    width: 24px;
    height: 24px;
}


.truncate-2-lines {
    display: -webkit-box;

    -webkit-line-clamp: 2;
    line-clamp: 2;

    -webkit-box-orient: vertical;

    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    background: #ffffff;
}

button {
    cursor: pointer;
    transition: all 0.2s ease;
}

input:focus {
    outline: none;
}